<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <!-- <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
    <%- include('./common/_footer') %>


    <% for (var i=0; i < 4; i++) { %>
      <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
      <% } %>


      <% let page = "<p>top </p>" %>
      <p><%- page  %></p>
      <p><%= page  %></p>


      <% for (var i=0; i < 3; i++) { %>
        <%- include('./parts/_c-btn',{text:'これはテストです', link:'#'}) %>
        <% } %>
   -->



      <!-- 企業概要セクション byとっぷ -->
      <section id="p-overview" class="section p-overview l-section">
        <div class="p-overview__inner l-inner">
          <h2 class="l-section__title p-overview__title">
            <span>企業概要</span>
          </h2>
  
          <div class="p-overview__items  ">
            <div class="p-overview__image">
              <img src="../images/top/kigyougaiyou.png" alt="自動分析機能のアイコン" />
            </div><!-- /.p-overview__image -->
            <div class="p-overview__article">
              <div class="p-overview__subtitle">
                メインタイトルが入ります。
              </div><!-- /.p-overview__title -->
              <div class="p-overview__text">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              </div><!-- /.p-overview__text -->
              <div class="p-overview__button">
                
              </div><!-- /.p-overview__button -->
            </div><!-- /.p-overview__article-->
          

          </div>
          <!--  p-overview-items終わり -->
        </div>
        <!--  p-overview-inner終わり -->
        <!-- リンク用ボタン -->
      </section>



      <!-- ブログセクション byとっぷ -->
      <section id="p-blog" class="section p-blog l-section">
        <div class="p-blog__inner l-inner">
          <h2 class="l-section__title p-blog__title">
            <span>ブログ</span>
          </h2>
  
          <div class="p-blog__items  p-cards">

            <% for (var i=0; i < 3; i++) { %>
              <%- include('./parts/_p-card',{count:i, link:'#'}) %>
              <% } %>

          </div>
          <!--  p-blog-items終わり -->
        </div>
        <!--  p-blog-inner終わり -->
        <!-- リンク用ボタン -->
      </section>



  </body>
</html>
